body {
  height: 100vh;
  width: 100vw;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#newgame-note {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#death-note {
  background: black;
  color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.display-none {
  display: none;
}

#description {
  font-style: italic;
  background-color: white;
}

#button-start {
width: 100%;
height: 90px;
color: red;
background-color: blue;
font-size: 22px;
font-weight: bold;
}

#button-start:hover {
  color:blue;
  background-color: red;
  cursor: pointer;

}
